.wrapper {
    position: relative;
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 0 15px;
        background-color: var(--background-color);
        border-radius: 4px;
        outline: #bdc5d1 1px solid;
        height: 38px;

        &:focus-visible {
            outline: #39a7ff 3px solid;
        }
    }

    .messeage {
        // position: absolute;
        // left: 0;
        // bottom: -23px;
        font-size: 1.4rem;
        color: #d71313;
    }

    .hide {
        display: none;
    }
}

.label {
    font-weight: 500px;
}
