.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 12%);
    background-color: var(--background-color);
}

.inner {
    height: 100%;
    width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;

    img {
        height: calc(var(--default-layout-header-height) - 10px);
    }
}
