.wrapper {
    width: 100%;
    height: 180px;
    padding-left: 10%;
    padding-top: 40px;
    position: relative;
}

.title {
    font-size: 3rem;
}

.icon {
    margin-right: 12px;
    color: var(--text-color-link);
}

.content {
    font-weight: 600;
}

.menu {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.btn-filter {
    background-color: var(--background-color);
    margin-right: 20px;
    padding: 4px 16px;

    &:hover {
        color: var(--text-color-secondnary);
        background-color: var(--primary);
    }
}

.btn-active {
    color: var(--text-color-secondnary);
    background-color: var(--primary);
}
