@import '/src/components/GlobalStyles/GlobalStyles';

.wrapper {
    animation: slip 0.2s ease-in-out;
}

@keyframes slip {
    from {
        opacity: 0;
        transform: translateY(-120px);
    }
    to {
        opacity: 1;
        transform: translateY(-100px);
    }
}
