.ManageWordFolder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.inner {
    width: 600px;
    margin-top: 85px;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .nameFolder {
        margin-right: 25px;
        font-size: 2rem;
        font-weight: 600;

        span {
            color: var(--primary);
        }
    }

    .btn-add {
        padding: 0 6px;
    }
}

.content {
    margin-top: 65px;
}
.not-have-word {
}
